<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIApplicationShortcutItems</key>
    <array>
      <dict>
        <key>UIApplicationShortcutItemType</key>
        <string>com.hearthands.TheMessagingApp.deleting</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>Deleting? Tell us why.</string>
        <key>UIApplicationShortcutItemIconSymbolName</key>
        <string>questionmark.bubble</string>
        <key>UIApplicationShortcutItemSubtitle</key>
        <string>We're here to help</string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemType</key>
        <string>com.hearthands.TheMessagingApp.disable-call-forwarding</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>⚠️ Before you go</string>
        <key>UIApplicationShortcutItemIconSymbolName</key>
        <string>phone.arrow.down.left</string>
        <key>UIApplicationShortcutItemSubtitle</key>
        <string>Disable Call Forwarding</string>
      </dict>
    </array>
    <key>DTPlatformVersion</key>
    <string>18.0</string>
    <key>DTSDKBuild</key>
    <string>22A3362</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>AppIcon-Default-Light</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-Default-Light</string>
        </dict>
        <key>AppIcon-Assistant-Light</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-Assistant-Light</string>
        </dict>
        <key>AppIcon-M1-Dark</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-M1-Dark</string>
        </dict>
        <key>AppIcon-Green</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-Green</string>
        </dict>
        <key>AppIcon-Assistant-Dark</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-Assistant-Dark</string>
        </dict>
        <key>AppIcon-Dunkin</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-Dunkin</string>
        </dict>
        <key>AppIcon-M1-Light</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-M1-Light</string>
        </dict>
        <key>AppIcon-Snap</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-Snap</string>
        </dict>
        <key>AppIcon-Tester</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-Tester</string>
        </dict>
        <key>AppIcon-Messenger</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-Messenger</string>
        </dict>
        <key>AppIcon-iChat</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-iChat</string>
        </dict>
        <key>AppIcon-McOne</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-McOne</string>
        </dict>
        <key>AppIcon-Apple</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-Apple</string>
        </dict>
      </dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>NSFocusStatusUsageDescription</key>
    <string>While your notifications are silenced, allow M1 to check if you’ve missed phone calls or text messages from your contacts.</string>
    <key>NSLocationDefaultAccuracyReduced</key>
    <true/>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>The App is accessing camera to share the taken photos in chat</string>
    <key>CFBundleDisplayName</key>
    <string>M1</string>
    <key>DTXcodeBuild</key>
    <string>16A242d</string>
    <key>NSPrivacyTrackingDomains</key>
    <array>
      <string>safetrack.singular.net</string>
    </array>
    <key>NETWORK_CONFIG_HOST</key>
    <string>https://api.prod.tma.hearthands.tech</string>
    <key>CFBundleIdentifier</key>
    <string>com.hearthands.TheMessagingApp</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>INStartCallIntent</string>
      <string>INSendMessageIntent</string>
    </array>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.social-networking</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>slack</string>
      <string>notion</string>
      <string>googledrive</string>
      <string>mobilenotes</string>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>AppIcon-Default-Light</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-Default-Light</string>
        </dict>
        <key>AppIcon-Assistant-Light</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-Assistant-Light</string>
        </dict>
        <key>AppIcon-M1-Dark</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-M1-Dark</string>
        </dict>
        <key>AppIcon-Green</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-Green</string>
        </dict>
        <key>AppIcon-Assistant-Dark</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-Assistant-Dark</string>
        </dict>
        <key>AppIcon-Dunkin</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-Dunkin</string>
        </dict>
        <key>AppIcon-M1-Light</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-M1-Light</string>
        </dict>
        <key>AppIcon-Snap</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-Snap</string>
        </dict>
        <key>AppIcon-Tester</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-Tester</string>
        </dict>
        <key>AppIcon-Messenger</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-Messenger</string>
        </dict>
        <key>AppIcon-iChat</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-iChat</string>
        </dict>
        <key>AppIcon-McOne</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-McOne</string>
        </dict>
        <key>AppIcon-Apple</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppIcon-Apple</string>
        </dict>
      </dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>By allowing access to this data you enable M1 to measure how effective our ad campaigns are, and help us attract users who'd benefit from M1 as well, but your conversations remain for your eyes only.</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>MinimumOSVersion</key>
    <string>16.0</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>M1 allows you to save photos to your photo library.</string>
    <key>BUNDLE_ID_PREFIX</key>
    <string>com.hearthands.TheMessagingApp</string>
    <key>CFBundleName</key>
    <string>TheMessagingApp</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1.31</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>fetch</string>
      <string>remote-notification</string>
      <string>voip</string>
      <string>processing</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>INIntentsSupported</key>
    <array>
      <string>INStartCallIntent</string>
    </array>
    <key>UIAppFonts</key>
    <array>
      <string>TiemposText-RegularItalic.otf</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>TheMessagingApp</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>DTAppStoreToolsBuild</key>
    <string>16F7</string>
    <key>NETWORK_CONFIG_PORT</key>
    <string>443</string>
    <key>BuildMachineOSBuild</key>
    <string>24A335</string>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>NSAccentColorName</key>
    <string>AccentColor</string>
    <key>GIDClientID</key>
    <string>110971709284-kcq90p9il8kidn3kknmf2de5ao8h665u.apps.googleusercontent.com</string>
    <key>NSCalendarsUsageDescription</key>
    <string>M1 allows you to add events to your calendar.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>M1 allows you to call your people and send audio notes. The microphone is used so you can talk.</string>
    <key>UIApplicationSceneManifest</key>
    <dict>
      <key>UIApplicationSupportsMultipleScenes</key>
      <false/>
      <key>UISceneConfigurations</key>
      <dict>
        <key>UIWindowSceneSessionRoleApplication</key>
        <array>
          <dict>
            <key>UISceneConfigurationName</key>
            <string>Default Configuration</string>
            <key>UISceneDelegateClassName</key>
            <string>TheMessagingApp.SceneDelegate</string>
          </dict>
        </array>
      </dict>
    </dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Your location is used to verify account activity and enhance security.</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>APP_GROUP_ID</key>
    <string>group.com.hearthands.TheMessagingApp</string>
    <key>CFBundleVersion</key>
    <string>12374</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>TECHNICAL_VERSION</key>
    <string>20250730113330</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.hearthands.TheMessagingApp</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>m1</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLIconFile</key>
        <string></string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>im</string>
        </array>
        <key>CFBundleURLName</key>
        <string>com.hearthands.TheMessagingApp.im</string>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.110971709284-kcq90p9il8kidn3kknmf2de5ao8h665u</string>
        </array>
      </dict>
    </array>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
      <string>com.hearthands.TheMessagingApp.resendFailedMessages</string>
    </array>
    <key>DTSDKName</key>
    <string>iphoneos18.0</string>
    <key>GIDServerClientID</key>
    <string>110971709284-pg89ndbql009ldrhhkr0077oqpj5ggct.apps.googleusercontent.com</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>DTPlatformBuild</key>
    <string>22A3362</string>
    <key>NSContactsUsageDescription</key>
    <string>To identify callers and show their names, we securely upload your contacts to our servers. Your data is encrypted and never shared.</string>
    <key>DTXcode</key>
    <string>1600</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>M1 allows you to send photos to your contacts and change your profile picture.</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
  </dict>
</plist>
